
:root {
  --color-light-blue: #3ea6ff;
  --color-blue: #085fd4;
  --color-red : #ff0000;
  --color-black: #0f0f0f;
  --color-gray: #f4f4f4;
  --color-dark: #0e0e0e;
}
input{
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  
}

textarea:focus, input:focus{
  outline: none;
}

#root {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 55px auto;
  grid-template-areas:
  "nav nav"
  "aside main";
}

body{
  background-color: var(--color-dark);
}


body::-webkit-scrollbar {
  width: 16px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  background: #9e9e9e; /* 스크롤바의 색상 */
  border-radius: 10px;
  border: 4px solid black;
}

body::-webkit-scrollbar-track {
  background: #000000  /*스크롤바 뒷 배경 색상*/
}